button {
  font-family: 'Ubuntu', serif;
  font-size: 14px;
  border: solid 1px #787878;
  padding: 4px 7px 4px 7px;
  border-radius: 5px;
  color: #383838;
  text-shadow: 1px 1px 1px white;
  font-weight: bold;
  background-image: -webkit-linear-gradient(white, #E6E6E6);
  background-image: -moz-linear-gradient(white, #E6E6E6);
  vertical-align: middle;
  box-shadow: 0px 1px 0px #d5d5d5;
}

button:hover {
  box-shadow: 0px -1px 3px #65C5EF, 0px 1px 3px #65C5EF, -1px 0px 3px #65C5EF, 1px 0px 3px #65C5EF;
  background-image: -webkit-linear-gradient(#F8F8F8, #D9D9D9);
  background-image: -moz-linear-gradient(#F8F8F8, #D9D9D9);
}

button:active {
  box-shadow: 0 0 2px #cecece, inset 0px -1px 0 0 #e6e6e6;
  background-image: -webkit-linear-gradient(#F8F8F8, #F8F8F8);
  background-image: -moz-linear-gradient(#F8F8F8, #F8F8F8);
  -webkit-transform: scale(0.98);
  -moz-transform: scale(0.98);
  color: #888888;
}

button .icon {
  width: 15px;
  height: 15px;
  vertical-align: top;
  padding-right: 5px;
}