@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(font/montserrat.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(font/opensans.woff) format('woff');
}

html, body { height: 100%; }

.flex {
  display: -webkit-flex;
}

.flex.row {
  -webkit-flex-direction: column;
}


body {
  margin: 0;
  padding: 0;

  font-family: 'Montserrat', sans-serif;

  color: white;
  background-color: #232323;

  -webkit-user-select: none;
}

input {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;

}

input[type=search] {
  border: none;
  padding: 3px;
  -webkit-appearance: none;
}

.fill {
  -webkit-flex: 1;
}

/* PLAYER UI */

.player-header {
  height: 30px;
  padding: 5px;
  border-bottom: solid 1px #2e2e2e;
  cursor: move;
}

.player-header  div {
  float: left;
}

.player-header > .close {
  float:right;
  padding-top: 4px;
  padding-right: 10px;
}

.player-header > .close:hover {
  color: #2e2e2e;
  cursor: pointer;

}

.player-controls {
  border-top: solid 1px #2e2e2e;
  height: 40px;
}

/* Play/pause/skip buttons */

.player-controls .control-group {
  border-right: solid 1px #2e2e2e;
  width: -webkit-calc(200px + 10%);
}

.player-controls .control-group > div {
  padding: 10px;
  border-right: solid 1px #2e2e2e;
  float: left;
}

.player-controls .button {
  text-align: center;
  vertical-align: baseline;
  line-height: 21px;
  -webkit-flex: 1;
}

.player-controls .button:hover {
  background-color: #444;
}

.player-controls .button:active {
  background-color: hsla(256, 22%, 46%, .35);
  font-size: 120%;
}

.player-sidebar {
  width: -webkit-calc(200px + 10%);
  border-right: solid 1px #2e2e2e;
}

.player-list {
  font-family: 'Open Sans', sans-serif;
}

.player-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.player-list ul li {
  font-size: .8em;
  padding: 8px;
}

.player-list ul li:nth-child(odd) {
  background-color: #333;
}

.player-list ul li:hover {
  background-color: #444;
}

.seekbar {
  padding: 10px 15px;
}

.seekbar .track {
  height: 20px;
}

.volume {
  -webkit-flex: 2;
  padding: 14px 10px 14px 0 !important; /* BAD */
}

.control-group > .volume > div {
  height: 13px;
}

.control-group > .button.mute {
  border-right: none;
  -webkit-flex: .3;
}

.track {
  background-color: #2e2e2e;
  position: relative;
}

.track > div {
  position: absolute;
  height: 100%;
}

.track > div:hover > span {
  opacity: .75;
}

.track > div > span {
  font-family: 'Open Sans', sans-serif;
  -webkit-transition: opacity .8s ease-in-out;
  font-size: 80%;
  opacity: 0;
  float: right;
}
