@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(font/montserrat.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(font/opensans.woff) format('woff');
}

html, body { height: 100%; }
.flex { display: -webkit-flex; }
.flex.row { -webkit-flex-direction: column; }
.fill { -webkit-flex: 1; }


body {
  margin: 0;
  padding: 0;

  font-family: 'Montserrat', sans-serif;

  color: white;

  border: solid 1px black;
  background-color: #232323;

  -webkit-user-select: none;
}

input {
  font-family: 'Open Sans', sans-serif;
  font-size: .9em;
  border: none;
  color: white;
  border-bottom: solid 1px white;
  margin: 0 10px;
  padding: 3px;
  -webkit-appearance: none;
  background: rgba(0, 0, 0, .1);
}

input:focus {
  outline: none;
  background: rgba(255, 255, 255, .1);
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

input[type="search"]:focus::-webkit-search-cancel-button:before {
  display: block;
}

input[type="search"]::-webkit-search-cancel-button:before {
  display: none;
  font-family: 'icons';
  content: '\f06e';
  position: relative;
  left: -3px;
  top: 1px;
  color: rgba(255, 255, 255, .75);
}


::-webkit-textfield-decoration-container div {
  width: 5px;
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, .75);
}



/* PLAYER UI */

/* HEADER */
.player-header {
  height: 30px;
  padding: 5px;
  border-bottom: solid 1px #2e2e2e;
  cursor: move;
}

.player-header > * {
  float: left;
}

.player-header > .close {
  float: right;
  padding-top: 5px;
  padding-right: 10px;
}

.player-header > .close:hover {
  color: #2e2e2e;
  cursor: pointer;
}

.logo img {
  width: 30px;
}

.logo:hover {
  opacity: .7;
}



/* SIDEBAR */
.player-sidebar {
  width: -webkit-calc(200px + 5%);
  border-right: solid 1px #2e2e2e;
}



/* LIST */
.player-list {
  font-family: 'Open Sans', sans-serif;
  -webkit-flex: 1 1 auto;
  overflow-y: scroll;

}

.player-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 0;
}

.player-list ul li {
  font-size: .8em;
  padding: 8px;
}

.player-list ul li:nth-child(odd) {
  background-color: #333;
}

.player-list ul li:hover {
  background-color: #444;
}



/* PLAYER CONTROLS */
.player-controls {
  border-top: solid 1px #2e2e2e;
  height: 40px;
}

.player-controls .control-group {
  border-right: solid 1px #2e2e2e;
  width: -webkit-calc(200px + 5%);
}

.player-controls .button {
  padding: 10px;
  border-right: solid 1px #2e2e2e;
  float: left;
}

.player-controls .control-group .button {
  -webkit-flex: 1;
}

.player-controls .button {
  text-align: center;
  vertical-align: baseline;
  line-height: 21px;
}

.player-controls .button:hover {
  background-color: #444;
}

.player-controls .button.zoom:active {
  font-size: 120%;
}


.player-controls .control-group > .volume {
  -webkit-flex: 3;
  padding: 14px 10px 14px 0;
}

.control-group > .volume > div {
  height: 13px;
}

.control-group > .button.mute {
  border-right: none;
  -webkit-flex: .3;
}


.seekbar {
  padding: 10px 15px;
  border-right: solid 1px #2e2e2e;
}

.seekbar .track {
  height: 20px;
}


.track {
  background-color: #2e2e2e;
  position: relative;
}

.track > div {
  position: absolute;
  height: 100%;
}

.track > div:hover > span {
  opacity: .75;
}

.track > div > span {
  font-family: 'Open Sans', sans-serif;
  -webkit-transition: opacity .8s ease-in-out;
  font-size: 80%;
  opacity: 0;
  float: right;
}
