#mini-controls {
  height: 70px;
  border-bottom: solid 1px #292929;
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #656565),color-stop(1, #404040));
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  display: -moz-box;
  -moz-box-orient: horizontal;
}

#mini-playlist  {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  width: 100%;
}

#mini-playlist li {
  padding: 8px 8px 8px 22px;
  border-top: solid 1px hsl(0, 0%, 46%);
  border-bottom: solid 1px hsl(0, 0%, 16%);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: black 0px -1px 0px;
}

#mini-playlist li.selected {
  font-weight: bold;
  border-top: solid 1px #b3defe;
  background: -webkit-linear-gradient(top, #65c5ef, #0292d1);
  background: -moz-linear-gradient(top, #65c5ef, #0292d1);
  color: hsl(0, 0%, 22%);
  text-shadow: none;
}