::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar:horizontal{
  height: 13px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  display: block;
  height: 1px;
}

::-webkit-scrollbar-track-piece {
  background: -webkit-gradient(
    linear,
    0 0,
    100% 0,
    from(hsl(0, 0%, 16%)),
    to(hsl(0, 0%, 23%))
  );
  -webkit-box-shadow: 0 1px 0 0 rgba(255,255,255,0.35);
  -webkit-border-radius: 5px;
}


::-webkit-scrollbar-thumb:vertical{
  background: -webkit-gradient(
    linear,
    0 0,
    100% 0,
    from(hsl(0, 0%, 64%)),
    to(hsl(0, 0%, 55%))
  );
}