.track {
  width: 100%;
  height: 9px;
  border-top: solid 1px hsl(0, 0%, 15%);
  border-bottom: solid 1px hsl(0, 0%, 35%);
  border-radius: 10px;
  background: -webkit-linear-gradient(top, #2f2f2f, #393939);
}

.track .done {
  border: none;
  background: -webkit-linear-gradient(top, #65C5EF, #0292D1);
}

.track .thumb {
  float: right;
  border-radius: 10px;
  width: 11px;
  height: 11px;
  margin: -1.5px -1px 0 0;
  border: none;
  background:-webkit-gradient(radial, 5 5, 3, 5 5, 10, from(rgba(255,255,255,0)), to(rgba(255,255,255, .5))), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#999), to(#222));
	box-shadow:  0 1px 4px rgba(0,0,0, 0.7);
}

.track .thumb:hover {
  background:-webkit-gradient(radial, 5 5, 3, 5 5, 10, from(rgba(255,255,255,.3)), to(rgba(255,255,255, .5))), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#999), to(#222)) !important;
}