@import url("html5reset-1.6.1.css");
@import url("scrollbar.css");
@import url("mini.css");
@import url("seekbar.css");
@import url("buttons.css");

html, body { height: 100%; }

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  color: hsl(0, 0%, 88%);
  background-color: hsl(0, 0%, 22%); 
}

::selection{
  background-color: #101010;
  color: #EEEEEE;
}


#container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
}



.settingsContainer {
  position: fixed;
  bottom: -221px;
  right: 0px;
  height: 200px;
  width: 200px;
  -webkit-transition: bottom 0.3s linear;
  -moz-transition: bottom 0.3s linear;
  -ms-transition: bottom 0.3s linear;
  border-left: solid 1px #292929;
  border-top: solid 1px #292929;
  border-top-left-radius: 10px;
  background-color: hsl(0, 0%, 28%);
  padding: 10px;
  z-index: 1000;
}

.settingsContainer.show {
  bottom: 0px;
}

#upper { 
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
}

#sidebar {
  width: 200px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  background-color: hsl(0, 0%, 28%);
  border-right: solid 1px hsl(0, 0%, 16%);
  border-bottom: solid 1px hsl(0, 0%, 16%);
  cursor: default;
}

#treeview {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  border-bottom: solid 1px hsl(0, 0%, 16%);
  overflow: auto;
}

#treeview li {
  padding: 8px 8px 8px 22px;
  border-top: solid 1px hsl(0, 0%, 46%);
  border-bottom: solid 1px hsl(0, 0%, 16%);
  background: url('../img/icons/note.png') no-repeat 4px center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: black 0px -1px 0px;
}

#treeview li:hover {
  background: url('../img/icons/note.png') no-repeat 4px center, #545454;
}

#treeview li.addnew {
  border: solid 1px gray !important;
  border-bottom: none !important;
  background: url('../img/icons/note.png') no-repeat 4px center, #545454 !important;
}

#treeview li.selected {
  font-weight: bold;
  border-top: solid 1px #b3defe;
  background: url('../img/icons/note2.png') no-repeat 4px center,-webkit-linear-gradient(#65c5ef, #0292d1);
  background: url('../img/icons/note2.png') no-repeat 4px center,-moz-linear-gradient(#65c5ef, #0292d1);
  background: url('../img/icons/note2.png') no-repeat 4px center,-ms-linear-gradient(#65c5ef, #0292d1);
  color: hsl(0, 0%, 22%);
  text-shadow: none;
}

#treeview li.clicked {
  background: url('../img/icons/note2.png') no-repeat 4px center,-webkit-linear-gradient(#c3c3c3, gray);
  background: url('../img/icons/note2.png') no-repeat 4px center,-moz-linear-gradient(#c3c3c3, gray);
  background: url('../img/icons/note2.png') no-repeat 4px center,-ms-linear-gradient(#c3c3c3, gray);
  color: hsl(0, 0%, 22%);
  text-shadow: none;
}

#treeview li.new {
  padding-left: 8px;
  border-bottom: none;
  background: none;
  color: hsl(0, 0%, 55%);
  cursor: pointer;
}

#treeview li.new:hover {
  color: hsl(0, 0%, 75%);
}

input.editBox {
  border: solid 1px #8C8C8C;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input#newPlaylist {
  margin: -4px 1px 0px -1px;
}

input#editPlaylist {
  margin: -2px 0 -2px 0;
  padding: 3px;
  color: hsl(0, 0%, 22%);
  font-size: 14px;
}

#song-data {
  padding: 5px;
  height: 30px;
  border-top: solid 1px hsl(0, 0%, 46%);
  background: -webkit-linear-gradient(#656565, #404040);
  background: -moz-linear-gradient(#656565, #404040);
  background: -ms-linear-gradient(#656565, #404040);
}

#song-data #tracktitle, #albumtitle {
  text-align: center;
  overflow: -webkit-marquee;
  white-space: nowrap;
  -webkit-marquee-speed: slow;
  -webkit-marquee-style: alternate;
  -webkit-marquee-increment: 3px;
  height: 16px;
}

#tracktitle {
  text-shadow: black 0px 1px 0px;
}

#albumtitle {
  text-shadow: black 0px -1px 0px;
  font-size: 12px;
}

#albumart {
  position: relative;
  border-top: solid 1px hsl(0, 0%, 38%);
  border-bottom: solid 1px hsl(0, 0%, 0%);
  width: 200px;
  height: 200px;
  background: url('../img/disc.png') no-repeat center center;
  background-size: contain;
}

#content {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  border-bottom: solid 1px hsl(0, 0%, 16%);
}

#searchBar {
  padding: 3px 3px 4px 5px;
  border-bottom: solid 1px black;
  background: -webkit-linear-gradient(#dadada, #808080);
  background: -moz-linear-gradient(#dadada, #808080);
  background: -ms-linear-gradient(#dadada, #808080);
}

#searchBox {
  width: 300px;
  padding: 0 5px 0 23px;
  border-radius: 5px 0px 0px 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: solid 1px #5e5e5e;
  height: 26px;
  outline: none;
  box-shadow: inset 0px 2px 5px #d5d5d5, 0px 1px 0px #d5d5d5;
  background-origin: content-box;
  background: #fff url('../img/icons/search.png') no-repeat 3px center;
}

#searchBox:focus {
  box-shadow: inset 0px 2px 5px #d5d5d5, 0px 1px 0px #d5d5d5,
    0px 3px 5px #65C5EF, 0px -1px 5px #65C5EF;
}

#searchBox.ongoing {
  background: #fff url('../img/icons/search-loader.gif') no-repeat 3px center;
}

#filterBtns, #searchBtn {
  margin-left: -3px;
}

#filterBtns > * {
  box-shadow: 0px 1px 0px #d5d5d5;
  -webkit-transition: box-shadow 0.3s ease;
  -moz-transition: box-shadow 0.3s ease;
  border: solid 1px #5e5e5e;
  border-left: none;
  vertical-align: middle;
}


#filterBtns span:hover {
  box-shadow: 0px 3px 5px #65C5EF, 0px -3px 5px #65C5EF;
}

#filterBtns span:active {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
}

#searchBtn {
  border-radius: 0px 5px 5px 0px;
  box-shadow: 0px 1px 0px #d5d5d5;
  border-left: none;
}

#content-main {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  overflow: auto;
  height: 400px;
}

#content-main table {
  width: 100%;
  border-collapse: separate;
  cursor: default;
}

#content-main th, #content-main td {
  height: 20px;
  vertical-align: middle;
  padding-left: 3px;
}

#content-main tr  td:first-child span { vertical-align: top; }
#content-main tr  td:first-child { padding: 0; width: 24px;}

#content-main th {
  color: black;
  text-shadow: hsl(0, 0%, 79%) 0px 1px 0px;
  text-align: left;
  border-top: solid 1px hsl(0, 0%, 79%);
  border-right: solid 1px black;
  background: -webkit-linear-gradient(#a8a8a8, #868686);
  background: -moz-linear-gradient(#a8a8a8, #868686);
  background: -ms-linear-gradient(#a8a8a8, #868686);
}

#content-main tr:nth-child(odd) {
  background-color: hsl(0, 0%, 25%); 
}

#content-main tr:hover {
  background: #545454;
}

#content-main tr.selected {
  color: hsl(0, 0%, 22%);
  font-weight: bold;
  background: -webkit-linear-gradient(#65c5ef, #0292d1);
  background: -moz-linear-gradient(#65c5ef, #0292d1);
  background: -ms-linear-gradient(#65c5ef, #0292d1);
}

#content-main tr.clicked {
  border-top: solid 1px hsl(0, 0%, 25%);
  background: -webkit-linear-gradient(#c3c3c3, gray);
  background: -moz-linear-gradient(#c3c3c3, gray);
  background: -ms-linear-gradient(#c3c3c3, gray);
  color: black;
}

#control-bar {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  cursor: default;
  border-top: solid 1px hsl(0, 0%, 47%);
  height: 40px;
  background: -webkit-linear-gradient(#5f5f5f, #4e4e4e);
  background: -moz-linear-gradient(#5f5f5f, #4e4e4e);
  background: -ms-linear-gradient(#5f5f5f, #4e4e4e);
  vertical-align: bottom;
}

#controls {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  width: 250px;
  border-right: solid 1px hsl(0, 0%, 16%);
}

#control-btns {
  margin-top: 4px;
  padding-left: 3px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
}

#control-btns button {
  width: 28px;
  height: 28px;
  border-radius: 28px;
  border: none;
  background: -webkit-linear-gradient(#DADADA, gray);
  background: -moz-linear-gradient(#DADADA, gray);
  background: -ms-linear-gradient(#DADADA, gray);
  box-shadow: inset 0px -2px 1px black;
  color: black;
  padding: 2px 1px 4px 2px;
  text-shadow: 0px 0px 1px darkgray;
  font-size: 18px;
  margin-top: 2px;
}

#control-btns button:active {
  padding-top: 5px;
  box-shadow: inset 0px 2px 1px black;
  color: #dadada;
  text-shadow: 0px -1px 1px black;
}

#control-btns button.bigger {
  width: 33px;
  height: 33px;
  border-radius: 33px;
  margin-top: 0px;
  padding: 0px 0 2px 3px;
}

#control-btns button.bigger:active {
  padding-top: 5px;
}

#control-btns button.bigger:before {
  content: "►";
}

#control-btns button.pause {
  padding: 0 0 2px 0;
  font-size: 8px;
}

#control-btns button.pause:before {
  content: "▌▐";
}

#control-btns button.pause:active {
  top: -3px;
  padding-top: 6px;
}


#controls #volume-icon {
  margin: 14px 5px 0 5px;
}

#volume-bar {
  padding: 16px 10px 16px 0px;
  -webkit-box-flex: 3;
  -moz-box-flex: 3;
  -ms-box-flex: 3;
}

#seek-bar {
  border-left: solid 1px hsl(0, 0%, 47%);
  border-right: solid 1px hsl(0, 0%, 16%);
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  padding: 16px;
}

#shuffle-repeat {
  border-left: solid 1px hsl(0, 0%, 47%);
  border-right: solid 1px hsl(0, 0%, 16%);
  padding: 10px;
}

#shuffle-repeat div {
  display: inline-block;
  vertical-align: top;
}

#shuffle {
  width: 28px;
  height: 22px;
	background: url(../img/icons/shuffle.png) no-repeat center center;
  margin-right: 5px;
}
#shuffle:hover, #shuffle.active {
  background: url(../img/icons/shuffle2.png) no-repeat center center;
}

#repeat {
  width: 33px;
  height: 22px;
	background: url(../img/icons/repeat.png) no-repeat;
}
#repeat:hover, #repeat.active {
  background: url(../img/icons/repeat2.png) no-repeat;
}

#shuffle:hover, #repeat:hover {
  opacity: 0.3;
}
#shuffle.active, #repeat.active {
  -webkit-transition: opacity .5s linear;
  -moz-transition: opacity .5s linear;
  -ms-transition: opacity .5s linear;
  opacity: 1;
}

#shuffle:active, #repeat:active {
  margin-top: 1px;
}

#status {
  border-left: solid 1px hsl(0, 0%, 47%);
  padding: 13px;
}
#status > div {
  background: -webkit-radial-gradient(circle closest-side, #fe0731 0%, #ea062d 100%);
  background: -moz-radial-gradient(circle closest-side, #fe0731 0%, #ea062d 100%);
  background: -ms-radial-gradient(circle closest-side, #fe0731 0%, #ea062d 100%);
  width: 15px;
  height: 15px;
  border-radius: 15px;
  box-shadow: 0px -1px 1px black;
  opacity: 0.8;
}

#status.ready > div {
  background: -webkit-radial-gradient(circle closest-side, #62CC35 0%, #56b32e 100%);
  background: -moz-radial-gradient(circle closest-side, #62CC35 0%, #56b32e 100%);
  background: -ms-radial-gradient(circle closest-side, #62CC35 0%, #56b32e 100%);
}

/*Icons*/
.icon {
  width: 24px;
  height: 24px;
  display: inline-block;
}

.gs-active {
  background: url(../img/gs-active.png) no-repeat;
}
.gs-disabled {
  background: url(../img/gs-disabled.png) no-repeat;
}

.yt-active {
  background: url(../img/yt-active.png) no-repeat;
}
.yt-disabled {
  background: url(../img/yt-disabled.png) no-repeat;
}

.sc-active {
  background: url(../img/sc-active.png) no-repeat;
}
.sc-disabled {
  background: url(../img/sc-disabled.png) no-repeat;
}


#ytPlayer {
  position: absolute;
  visibility: hidden;
  z-index: 1;
}

#ytPlayer.show {
  visibility: inherit;
}

#ytOverlay {
  position: absolute;
  top: 0px;
  display: none;
  height: 200px;
  width: 200px;
  z-index: 1000;
}

#ytOverlay.show {
  display: block;
}