/* Blue accent - #a2cb44 to #62cc35 */

/*Playlist*/
#treeview li.selected {
  border-top: solid 1px #c1f834;
  background: url('../../img/icons/note2.png') no-repeat 4px center,-webkit-linear-gradient(#c1f834, #62cc35);
  background: url('../../img/icons/note2.png') no-repeat 4px center,-moz-linear-gradient(#c1f834, #62cc35);
}

/*Track*/
#content-main tr.selected {
  background: -webkit-linear-gradient(#c1f834, #62cc35);
  background: -moz-linear-gradient(#c1f834, #62cc35);
}

/*Seekbar*/
.track .done {
  background: -webkit-linear-gradient(top, #c1f834, #62cc35);
  background: -moz-linear-gradient(top, #c1f834, #62cc35);
}

/*Searchbox*/
#searchBox:focus {
  box-shadow: inset 0px 2px 5px #d5d5d5, 0px 1px 1px #d5d5d5,
    0px 3px 5px #c1f834, 0px -1px 5px #c1f834;
}

/*Searchbox filter*/
#filterBtns span:hover {
  box-shadow: 0px 3px 5px #c1f834, 0px -3px 5px #c1f834;
}

/*Button glow*/
button:hover {
  box-shadow: 0px -1px 3px #c1f834, 0px 1px 3px #c1f834, -1px 0px 3px #c1f834, 1px 0px 3px #c1f834;
}

/*Popup playlist*/
#mini-playlist li.selected {
  border-top: solid 1px #c1f834;
  background: -webkit-linear-gradient(top, #c1f834, #62cc35);
  background: -moz-linear-gradient(top, #c1f834, #62cc35);
}